[user]
	email = joshua.baker@shopify.com
	name = Josh Baker

[core]
	editor = code --wait
	ignorecase = false

[commit]
    	gpgsign = true

[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	cp = cherry-pick
	unstage = reset HEAD --
	please = push --force-with-lease

[sequence]
	editor = code --wait --reuse-window
